# -- Discord ----------------------------------------------
BOT_TOKEN=
CLIENT_ID=
GUILD_ID=

# -- DVA Channel & Role -----------------------------------
DVA_CHANNEL_ID=
DVA_TEMP_ROLE_ID=
DVA_CASH_CHANNEL_ID=
BUYSELL_CHANNEL_ID=

# -- Google Sheets ----------------------------------------
SHEET_ID=
SHEET_TAB=Fund Log
